@import "./pages/homepage/homepage.styles.scss";
@import "./components/directory/directory.styles.scss";

body {
  margin: 0;
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  width: 90%;
  margin: auto;
}